<% provide(:title, "Portafolio") %>

<div class="jumbotron">
  <div class="container marketing">
    <h1>PORTAFOLIO</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <div class="row portafolio">

    <!-- These are the nav pills on the left -->
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#" class="macro-pills anime" id="exhibit">Exhibición</a></li>
        <li role="presentation"><a href="#" class="macro-pills anime" id="ambient">Ambientación</a></li>
        <li role="presentation"><a href="#" class="macro-pills anime" id="soluci">Soluciones</a></li>
      </ul>
    </div> <!-- end of nav pills on the left -->

    <!-- This is the content that belongs to each of the nav pills -->
    <div class="col-md-9 tab-content">
      <div class="" id="porta-ex"> <!-- start of exhibicion portfolio container -->

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">COUNTER DISPLAY</h3>
                <p>
                  Elaborado en metal y diseñado para ser ubicado en el counter de atención de droguerías y estaciones de servicio.
                  Su función es dar visibilidad a la marca, resaltar la disponibilidad del producto y generar venta por impulso.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "periodico_counter_eltiempo.png", size: "287x287", alt: "Counter Display El Tiempo", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">STAND DESARMABLE</h3>
                <p>
                  Elaborado en madera, metal y plástico para ser ubicado en espacios itinerantes. Su función es dar
                  visibilidad a la marca y generar ventas por impulso de suscripciones a todos los productos de EL TIEMPO.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "stand_desarmable_eltiempo.png", size: "287x287", alt: "Stand Desarmable El Tiempo", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">FLOORSTAND MICHAEL JACKSON</h3>
                <p>
                  Elaborado en cartón y diseñado para ser ubicado en almacenes de grandes superficies. Su función es generar
                  ventas por impulso y resaltar la disponibilidad de producto en el almacén.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "michael_eltiempo.png", size: "287x287", alt: "Floorstand Michael Jackson", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">FLOORSTAND CASTROL 01</h3>
                <p>
                  Elaborado en metal y plástico para ser ubicado en distribuidores. Su función es dar visibilidad a la marca,
                  generar ventas por impulso y resaltar la disponibilidad de producto con seguridad en el punto de venta.
                </p><br>
                <p><strong>Cliente:</strong> Castrol</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "floorstand_castrol01.png", size: "287x287", alt: "Floorstand Castrol 01", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">FLOORSTAND EL TIEMPO</h3>
                <p>
                  Elaborado en metal y plástico para ser ubicado en grandes superficies. Su función es dar visibilidad
                  de la marca, crear ventas por impulso y resaltar  la disponibilidad de producto en el punto de venta.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "floorstand_eltiempo.png", size: "287x287", alt: "Floorstand El Tiempo", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">FLOORSTAND COOLWOMAN</h3>
                <p>
                  Elaborado en cartón y acrílico para ser ubicado en almacenes de grandes superficies. Su
                  función es generar ventas por impulso y resaltar la disponibilidad del producto en el almacén.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "floorstand_coolwoman.png", size: "287x287", alt: "Floorstand Coolwoman", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">FLOORSTAND CASTROL 02</h3>
                <p>
                  Elaborado en metal y plástico para ser ubicado en las esquinas de los almacenes de sus distribuidores.
                  Su función es dar visibilidad a la marca, generar ventas por impulso y resaltar la disponibilidad del
                  producto con seguridad en el punto de venta.
                </p><br>
                <p><strong>Cliente:</strong> Castrol</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "floorstand_castrol02.png", size: "287x287", alt: "Floorstand Castrol 02", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">FLOOR STAND RABBIDS</h3>
                <p>
                  Elaborado en cartón y acrílico para ser ubicado en almacenes de grandes superficies. Su
                  función es generar ventas por impulso y resaltar la disponibilidad del producto en el almacén.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "floorstand_rabbids.png", size: "287x287", alt: "Floorstand Rabbids", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">TROPEZÓN INFORMADOR</h3>
                <p>
                  Elaborado en metal y plástico para ser ubicado en espacios exteriores de los almacenes de sus distribuidores.
                  Su función es dar visibilidad a la marca e informar las promociones actuales del producto.
                </p><br>
                <p><strong>Cliente:</strong> Petrobras</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "tropezon_informador.png", size: "287x287", alt: "Tropezón Informador", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">CUBO LUMINOSO</h3>
                <p>
                  Ejecutado e implementado en la tarima principal durante conciertos patrocinados por ADN.
                  Su función es dar visibilidad a la marca durante todo el evento.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO (ADN)</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "cubo_luminoso.png", size: "287x287", alt: "Cubo Luminoso", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">CASTROL VINTAGE</h3>
                <p>
                  Adaptación especial para puntos de venta específicos con requerimientos especiales,
                  El material funciona dentro de los parámetros conceptuales del punto de venta.
                </p><br>
                <p><strong>Cliente:</strong> Castrol</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "castrol_vintage.png", size: "287x287", alt: "Silla Castrol", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- end of exhibicion portfolio container -->

      <div class="" id="porta-am"> <!-- start of ambientacion portfolio container -->

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">STAND PERMANENTE ÉXITO</h3>
                <p>
                  Elaborado en madera y acrílico para ser ubicado en los almacenes ÉXITO de la ciudad
                  de Bogotá. Su función es crear ventas por impulso de suscripciones a todos los
                  productos de EL TIEMPO y de clasificados en el periódico e internet.
                </p><br>
                <p><strong>Cliente:</strong> EL TIEMPO</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "stand_permanente_exito.png", size: "287x287", alt: "Stand Permanente EL TIEMPO", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 pro-desc">
                <h3 class="panel-title">PDV CASTROL</h3>
                <p>
                  Implementación de punto especial con requerimientos de obra, adecuación, estanterías y visibilidad.
                </p><br>
                <p><strong>Cliente:</strong> CASTROL</p><br>
              </div>
              <div class="col-md-5 prod-pic">
                <%= image_tag "pdv_castrol.png", size: "287x287", alt: "PDV Castrol", class: "image-port" %>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- end of ambientacion portfolio container -->

      <div class="" id="porta-so"> <!-- start of soluciones portfolio container -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="panel-title">Nombre del proyecto exhibicion</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pro-desc">
                Descripción del proyecto.
              </div>
            </div>
          </div>
          <div class="col-md-6 prod-pic">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="panel-title">Nombre del proyecto exhibicion</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pro-desc">
                Descripción del proyecto.
              </div>
            </div>
          </div>
          <div class="col-md-6 prod-pic">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="panel-title">Nombre del proyecto exhibicion</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pro-desc">
                Descripción del proyecto.
              </div>
            </div>
          </div>
          <div class="col-md-6 prod-pic">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="panel-title">Nombre del proyecto exhibicion</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pro-desc">
                Descripción del proyecto.
              </div>
            </div>
          </div>
          <div class="col-md-6 prod-pic">
          </div>
        </div>
      </div> <!-- end of soluciones portfolio container -->

    </div> <!-- end of the col-md-8 content -->
  </div>
</div>
