<% provide(:title, "Contacto") %>

<div class="jumbotron nominferior">
  <div class="container marketing">
    <h1>CONTACTO</h1>
  </div>
</div><!-- /.container -->

<!-- contact form -->
<div class="container marketing">

	<%= form_for @message, url: locations_path do |f| %>
  	<% if @message.errors.any? %>
  		<div id="error_explanation">
  			<h2>
  				<%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
  			</h2>

  			<ul>
  				<% @message.errors.full_messages.each do |msg| %>
  					<li><%= msg %></li>
  				<% end %>
  			</ul>
  		</div>
  	<% end %>

    <p class="notice"><%= flash[:notice] %></p>

  	<h1 class="contitle">
			Trabajemos juntos.
		</h1>

		<h4 class="contitle" id="subcontitle">
			Tenemos la experiencia y el talento para ayudarle a alcanzar sus metas.
		</h4>

		<hr>

  	<div class="form-group">
  		<%= f.label :nombre %>
  		<%= f.text_field :nombre, class: "form-control" %>
  	</div>

  	<div class="form-group">
  		<%= f.label :email %>
  		<%= f.email_field :email, class: "form-control" %>
  	</div>

  	<div class="form-group">
  		<%= f.label :asunto %>
  		<%= f.text_field :asunto, class: "form-control" %>
  	</div>

  	<div class="form-group">
  		<%= f.label :mensaje %>
  		<%= f.text_area :mensaje, class: "form-control" %>
  	</div>

  	<div class="form-group">
  		<%= f.submit 'Enviar', class: "btn btn-lg btn-primary", role: "button" %>
  	</div>
  <% end %>
</div> <!-- end of container -->