<% provide(:title, "Portafolio") %>

<div class="jumbotron" id="portajumbo">
  <div class="container marketing">
    <h1>PORTAFOLIO</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <div class="row portafolio">

    <!-- These are the nav pills on the left -->
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#" class="macro-pills anime" id="exhibit">Exhibición</a></li>
        <li role="presentation"><a href="#" class="macro-pills anime" id="ambient">Ambientación</a></li>
        <li role="presentation"><a href="#" class="macro-pills anime" id="soluci">Soluciones</a></li>
      </ul>
    </div> <!-- end of nav pills on the left -->

    <!-- This is the content that belongs to each of the nav pills -->
    <div class="col-md-9 tab-content">
      <%# <div class="" id="porta-ex"> %>
        <!-- start of exhibicion portfolio container -->
        <% if @products.size > 0 %>
          <% @products.each do |product| %>
          <div class="">
            <div class="panel panel-default <%= product.product_line %>">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-7 pro-desc">
                    <h3 class="panel-title"><%= product.name %></h3>
                    <p>
                      <strong>Cliente:</strong> <%= product.client %>
                    </p><br>
                    <p><%= product.description%></p><br>
                    <p><%= link_to "Ver producto", product %></p>
                  </div>
                  <div class="col-md-5 prod-pic">
                    <%= image_tag "#{product.photo}", size: "287x287", alt: product.name, class: "image-port" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>


      <%# </div> %>
      <!-- end of exhibicion portfolio container -->

    </div> <!-- end of the col-md-9 content -->
  </div>
</div>
